.navbar-brand {
    font-size: xx-large;
}

#spec-year-selector-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.spec-year-selector-item {
    padding: 10px;
}

#item-search-container {
    justify-content: center;
    margin-bottom: 1em;
}

.item-search {
    display: flex;
    justify-content: center;
    max-width: 550px;
    margin: 0 auto;
}

#item-search-input {
    margin-right: 0.5em;
}

#item-data-table-container {
    width: 95%;
    margin: 0 auto;
}

#selected-item-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#selected-item-button {
    display: grid;
    width: 35%;
    padding: 0.5em;
}

/*
restyle radio items 
https://dash-bootstrap-components.opensource.faculty.ai/docs/components/button_group/
*/
.radio-group .form-check {
    padding-left: 0;
}

.radio-group .btn-group>.form-check:not(:last-child)>.btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.radio-group .btn-group>.form-check:not(:first-child)>.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}