hr {
    border-top: 2px solid gray;
}

.app-div {
    padding: 10px;
}

#spec-year-selector-container {
    display: flex;
    justify-content: center;
}

.spec-year-selector-item {
    padding: 10px;
}

#item-search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

#item-search {
    display: flex;
    justify-content: center;
}

#item-search-input {
    min-width: 400px;
    margin-right: 0.5em;
}

#item-data-table-container {
    width: 95%;
    margin: 0 auto;
}

#selected-item-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#selected-item-button {
    display: grid;
    width: 35%;
    padding: 0.5em;
}